<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Add New Blog Page</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        background-color: black;
        background-image: url("https://res.cloudinary.com/dzfkistam/image/upload/v1736862343/rb_4197_pbjapt.png");
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        color: #e0e0e0;
        font-family: "Poppins", sans-serif;
      }
      .container {
        max-width: 650px;
        margin: 40px auto;
        padding: 30px;
        background-color: #1e1e1e;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
        transition: all 300ms ease-in;
      }
      .container:hover {
        transform: translateY(-8px);
        box-shadow: #6d3159 0px 0px 30px 5px;
      }
      .form-label {
        font-size: 1.1rem;
        margin-bottom: 8px;
      }
      .form-control {
        background-color: #2a2a2a;
        border: 1px solid #444;
        color: #e0e0e0;
        font-size: 1rem;
      }
      .form-control::placeholder {
        color: #888;
      }
      .btn-primary {
        background-color: #d43776;
        border: none;
        font-size: 1.1rem;
        padding: 10px;
        border-radius: 10px;
        color: white;
        transition: all ease-in;
      }
      .btn-primary:hover {
        background-color: #be316a;
      }
      h2 {
        margin-bottom: 25px;
        font-size: 1.8rem;
      }
      textarea.form-control {
        height: 120px;
      }
      input[type="file"]::file-selector-button {
        background-color: #fff;
        color: #000;
        border: none;
        padding: 6px 12px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      select.form-control {
        appearance: auto;
      }
    </style>
  </head>
  <body>
    <%- include("./partials/navbar") %>

    <div class="container">
      <h2 class="text-center">Add Your Thoughts</h2>
      <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="title"
            class="form-control"
            id="title"
            placeholder="Enter your Title"
            required
          />
        </div>
        <div class="mb-4">
          <label for="desc" class="form-label">Description</label>
          <textarea
            name="desc"
            class="form-control"
            id="desc"
            placeholder="Write your thoughts here..."
            required
          ></textarea>
        </div>
        <div class="mb-4">
          <label for="coverImg" class="form-label">Upload Image</label>
          <input
            type="file"
            accept="image/*"
            name="coverImg"
            class="form-control"
            id="coverImg"
          />
        </div>
        <div class="mb-3">
          <label for="videoLink" class="form-label">Video Link</label>
          <input
            type="text"
            name="videoLink"
            class="form-control"
            id="videoLink"
            placeholder="Enter video link"
          />
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <select name="category" class="form-control" required>
            <option value="Web-Dev">WebDev</option>
            <option value="DSA">DSA</option>
            <option value="Databases">Databases</option>
            <option value="AI-ML">AI/ML</option>
          </select>
        </div>
        <button type="submit" class="btn-primary w-100">Create Blog</button>
      </form>
    </div>

    <%- include('./partials/scripts') %>
  </body>
</html>
